apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: prod-

patches:
  - target:
      kind: Deployment
      name: web-info
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
# Delete Ingress for prod
patchesStrategicMerge:
- |-
  $patch: delete
  apiVersion: networking.k8s.io/v1
  kind: Ingress
  metadata:
    name: web-info-ingress